@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.35vw;
}

::-webkit-scrollbar-track {
  background: #797979;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 5px;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}